<% content_for(:html_title) { @photographer.photographer } %>

<h2 class="title">Photo by <%= link_to @photo.photographer.photographer, @photographer %></h2>

<h2 class="subtitle mt-5 mb-3">Photo Details:</h2>

<p>
  <strong>Width:</strong>
  <%= @photo.width%>
</p>

<p>
  <strong>Height:</strong>
  <%= @photo.height%>
</p>

<p>
  <strong>URL:</strong>
  <a href="<%= @photo.url %>">Click Here!</a>
</p>

<p>
  <strong>Download URL:</strong>
  <a href="<%= @photo.download_url %>">Click Here!</a>
</p>