<h1>Photo by <%= @photo.photographer.photographer %></h1>
<h3>Width: <%= @photo.width%></h3>
<h3>Height: <%= @photo.height%></h3>
<h3>URL: <a href="<%= @photo.url %>">Click Here!</a></h3>
<h3>Download URL: <a href="<%= @photo.download_url %>">Click Here!</a></h3>