<h2 class="title">About this Web Application</h2>

<Br>

<h3 class="subtitle">ERD Looks Like</h3>
<img src="ProjectERD.png" alt="Website ERD"/>

<h4 class="subtitle">Data for Photos looks like:</h4>

<ul>
  <li>ID: <%= @photo.id %></li>
  <li>Photographer(Reference): <%= @photo.photographer %></li>
  <li>Width: <%= @photo.width %></li>
  <li>Height: <%= @photo.height %></li>
  <li>Url: <%= @photo.url %></li>
  <li>Download_url: <%= @photo.download_url %></li>
</ul>

<br>

<h4 class="subtitle">Data for Photographers looks like:</h4>

<ul>
  <li>ID: <%= @photographer.id %></li>
  <li>Photographer: <%= @photographer.photographer %></li>
</ul>