<h2 class="title">About this Web Application</h2>

<Br>

<h3 class="subtitle">ERD Looks Like</h3>
<img src="ProjectERD.png" alt="Website ERD"/>

<h4 class="subtitle">Data for Photos looks like:</h4>

<p>
  <strong>ID:</strong>
  <%= @photo.id %>
</p>

<p>
  <strong>Photographer(Reference):</strong>
  <%= @photo.photographer.photographer %>
</p>

<p>
  <strong>Width:</strong>
  <%= @photo.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @photo.height %>
</p>

<p>
  <strong>Url:</strong>
  <%= @photo.url %>
</p>

<p>
  <strong>Download_url:</strong>
  <%= @photo.download_url %>
</p>

<br>

<h4 class="subtitle">Data for Photographers looks like:</h4>

<p>
  <strong>ID:</strong>
  <%= @photographer.id %>
</p>

<p>
  <strong>Photographer:</strong>
  <%= @photographer.photographer %>
</p>